#Env files
.env

#Tautulli DB
taut.db
taut-schema.sql
notes.txt
taut.db-shm
taut.db-wal


#Excluded user files
excluded_users.json
__pycache__/app.cpython-39.pyc


#Directories
__pycache__/
sql_test_queries/

#Misc
CHANGELOG.md
