<div class="most-popular-container">
    <div class="most-popular-content">
        <header>
            <h1>Most Popular Movies and TV Shows</h1>
        </header>
        <main>
            <section class="most-popular-section">
                <!-- Movies Table -->
                <div class="popular-list">
                    <h2>Top 10 Most Watched Movies (2024)</h2>
                    <table>

                        <tbody>
                            {% for item in items if item.type == 'movie' %}
                            <tr>
                                <td>{{ item.title }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <!-- TV Shows Table -->
                <div class="popular-list">
                    <h2>Top 10 Most Watched TV Shows (2024)</h2>
                    <table>

                        <tbody>
                            {% for item in items if item.type == 'show' %}
                            <tr>
                                <td>{{ item.title }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
    </div>
</div>
